@using SporDukkani.Veriler.Varliklar
@model IEnumerable<Urun>

@{
    ViewBag.Title = "Ürün Listele";
}

@foreach(var urn in Model)
{
    <div>
        <h3>@urn.Isim</h3>
        @urn.Aciklama
        <h4>@urn.Fiyat.ToString("c")</h4>
    </div>

}
